:root {
  --blue-500: #3b82f6;
  --blue-600: #2563eb;
  --stone-100: #f5f5f4;
  --stone-200: #e7e5e4;
  --stone-300: #d6d3d1;
  --stone-500: #78716c;
  --stone-600: #57534e;
  --stone-700: #44403c;
  --stone-800: #292524;
  --yellow-300: #fde047;
  --yellow-400: #facc15;
  --yellow-500: #eab308;

  --font-size-sm: 1.4rem;
  --font-size-base: 1.6rem;
  --font-size-xl: 2rem;
  --font-size-2xl: 2.4rem;
  --font-size-3xl: 3rem;

  --line-height-sm: 2rem;
  --line-height-xl: 2.8rem;
  --line-height-2xl: 3.2rem;
  --line-height-3xl: 3.6rem;

  /* --breakpoint-sm:	640px;
  --breakpoint-md:	768px;
  --breakpoint-lg:	1024px;
  --breakpoint-xl:	1280px;
  --breakpoint-2xl:	1536px; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--stone-100);
  color: var(--stone-700);
  font-size: var(--font-size-base);
}

a {
  text-decoration: none;
  color: var(--stone-700);
}

input[type='text'] {
  appearance: none;
  border: none;
  font-size: var(--font-size-base);
}

button {
  display: inline-block;
  appearance: none;
  background-color: transparent;
  border: none;
}

/* https://dev.to/afif/i-made-100-css-loaders-for-your-next-project-4eje */
.loader {
  width: 45px;
  aspect-ratio: 0.75;
  --c: no-repeat linear-gradient(#333 0 0);
  background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
  background-size: 20% 50%;
  animation: loading 1s infinite linear;
}

@keyframes loading {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}

.layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100dvh;
}

.layout__main-wrapper {
  overflow: scroll;
}

.layout__main-content {
  max-width: 76.8rem;
  margin-inline: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--yellow-500);
  text-transform: uppercase;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  border-bottom: 1px solid var(--stone-200);

  @media (max-width: 640px) {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }
}

.header__link {
  letter-spacing: 0.1em;
}

.username {
  font-size: var(--font-size-sm);
  font-weight: 600;
  line-height: var(--line-height-sm);

  @media (max-width: 768px) {
    display: none;
  }
}

.home {
  margin-top: 6.4rem;
  margin-bottom: 6.4rem;
  text-align: center;
  padding-left: 1.6rem;
  padding-right: 1.6rem;

  @media (max-width: 640px) {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}

.landing-title {
  color: var(--stone-700);
  font-size: var(--font-size-3xl);
  font-weight: 600;
  line-height: var(--line-height-3xl);
  margin-bottom: 3.2rem;

  @media (max-width: 768px) {
    font-size: var(--font-size-xl);
    line-height: var(--line-height-xl);
  }
}

.landing-title__highlight {
  color: var(--yellow-500);
}

.cart-overview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--stone-800);
  text-transform: uppercase;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;

  @media (max-width: 640px) {
    padding: 1.6rem;
  }
}

.cart-overview__content {
  color: var(--stone-300);
  font-weight: 600;


  @media (max-width: 768px) {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
  }

  /* Spacing between children */
  & > * + * {
    margin-left: 1.6rem;
  }
}

.cart-overview__link {
  color: var(--stone-300);
}

.cart {}

.cart__link {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
  color: var(--blue-500);

  &:hover {
    color: var(--blue-600);
    text-decoration: underline;
  }
}

.create-user {}

.create-user__message {
  margin-bottom: 1.6rem;
  color: var(--stone-600);

  @media (max-width: 640px) {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
  }
}

.create-user__input {
  max-width: 28.8rem;
  width: 100%;
}


.create-order {}

.create-order__button {
  background-color: var(--yellow-400);
  color: var(--stone-800);
  font-weight: 600;
  padding: 1.2rem 1.6rem;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 0.1em;
  border-radius: 999px;
  transition: background-color 300ms;

  &:hover {
    background-color: var(--yellow-300);
  }

  &:focus {
    outline-color: var(--yellow-300);
    outline-offset: 0.4rem;
    background-color: var(--yellow-300);
  }

  &:disabled {
    cursor: not-allowed;
  }
}
